.button {
  padding: 0.6em 1.2em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.button-solid {
  background-color: var(--color-primary);
  color: var(--color-text-white);
}

.button-outline {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.button-ghost {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
}

.button-link {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  text-decoration: underline;
  padding: 0;
}

.button-disabled {
  background-color: var(--color-bg-gray);
  cursor: not-allowed;
}
