nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  padding: 1em;
}

nav .search__bar {
  display: flex;
  border-radius: 0.4em;
  border: 0.2em solid rgb(172, 169, 169);
  font-size: 1.1em;
  overflow: hidden;
}

nav input {
  border: none;
  outline: none;
  padding: 0.5em;
}

nav .search__btn {
  background-color: blueviolet;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}

.nav__pills {
  display: flex;
}

.nav__pills a {
  cursor: pointer;
  color: inherit;
  font-size: 1.2rem;
  margin-right: 1rem;
  text-decoration: none;
}

.nav__pills :hover {
  color: blueviolet;
}
