.sidebar {
  height: 100%;
  width: 12%;
  min-width: 100px;
}
.sidebar p {
  cursor: pointer;
  margin: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.2s ease;
}

.sidebar p:hover {
  color: blueviolet;
}
