@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-primary: blueviolet;
  --color-primary-light: #9e3ff6;
  --color-text-dark: #263238;
  --color-text-light: #e9f3fd;
  --color-text-black: black;
  --color-text-white: white;
  --color-text-gray: gray;
  --color-text-lightgray: lightgray;
  --color-bg-gray: #6c757d;
  --color-error: #c31e24;
  --color-error-light: #ff9495;
  --color-error-bg: #dc3545;
  --color-warning: #eaa221;
  --color-warning-light: #ffe88b;
  --color-success: green;
  --color-success-light: #c6ffc1;
  --color-success-bg: #28a745;
  --color-info: #0363af;
  --color-info-light: #b6d8ff;
}
